/*prevent problems with different browsers*/
*{box-sizing: border-box;}


body {
    font-family: "Poppins", serif;
    font-family: "Nunito", serif;
    font-weight: 300;
    margin: 0;
    font-size: 16px;
}

/* All edits to header will start here*/
header {
    background-color: #f2f3f7;
    padding: 1rem 10px;
    display: flex;
}

header div {
    padding-left: 2%;
}

header span {
    color: #3e4044;
    font-family: "Poppins", serif;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 50px;
    display: inline-block;
}

header p {
    text-align: center;
    margin: 0;
}

/*for SMALL screens*/
@media only screen and (max-width:600px) 
{
   nav ul {
    margin: 0;
    padding: 0 2vw;
    list-style-type: none;

   }
}

nav a {
    display: block;
    padding: .5rem;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: solid .5px #888;
    color: #3e4044;
}

nav .active a {
    background-color: #e3caab;
    background-image: linear-gradient(to right, #e3caab, #c6a67b);
    color: white;
}

nav li a:hover {
    color: #5e7887;
}
/*end of the media query*/


/*for BIG screens*/
@media only screen and (min-width:601px) {
    nav {
        background-color: #e3caab;
        color: #333;
    }
    
    nav ul {
        margin: 0;
        list-style-type: none;
        padding: 0 10px;
        display: flex;
    }
    
    nav a {
        display: block;
        padding: 1rem 1rem;
        text-align: center;
        text-decoration: none;
        font-family: "Poppins", serif;
        font-size: 1.3rem;
        color: #3e4044;
        font-weight: 500;
        border-bottom: none;
    }
    
    nav li.active a {
        background-color: #f2f3f7;
        color: #3e4044;
        padding: 1rem;
        background-image: linear-gradient(to right, #e3caab, #e3caab);
    }
    
    nav li a:hover {
        color: white;
    }
}
/*end of the media query*/


/* Enter all the main stuff here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #5e7887;
    font-family: "Poppins", serif;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

main h2 {
    color: #3e4044;
    font-family: "Nunito", serif;
    font-weight: 500;
    margin-bottom: .2rem;
}

main h3 {
    margin-bottom: .2rem;
    margin-top: .7rem;
    color: #8C5E3C;
    font-family: "Nunito", serif;
    font-weight: 500;
}

main p {
    margin-top: 0;
    margin-bottom: .8rem;
    color: #333;
    font-family: "Nunito", serif;
    font-size: 1.1rem;
}

main ol {
    padding: .5rem 30px;
    margin: 0;
}

main dl dt {
    color: #5e7887;
    font-family: "Nunito", serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}

main dl dd {
    font-size: 1rem;
    margin-left: 15px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 115%;
    margin-bottom: .3rem;
}

main strong {
    font-weight: 800;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #fafbff;
    text-align: left;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #3e4044;
    width: 180px;
}

main a {
    color: #5e7887;
}

main a:hover {
    color: rgb(140, 94, 60);
}

main p {
    margin-top: 0;
    margin-bottom: .5rem;
}

.socialhero {
    width: 100%;
    margin: 0;
}

.socialhero img {
    width: 100%;
    height: auto;
}


figure.home {
    width: 50%;
    margin: 0 0 0 .5rem;
    float: right;
}

figure.home img {
    width: 100%;
    height: auto;
}

figure.home figcaption {
    text-align: center;
    font-size: 1rem;
}

div.mediagallery {
    display: flex;
    flex-wrap: wrap;
}

div.mediagallery img:hover {
    box-shadow: 4px 4px 10px black;
}


div.mediagallery figure {
    margin: 0 2% 2% 0;
}

div.mediagallery figcaption {
    text-align: center;
    font-size: 1rem;
    color: #3e4044;
}

div.mediagallery img {
    box-shadow: 0px 0px 10px #3e4044;
}

.myForm fieldset {
    border: 1px solid #3e4044;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}

.myForm legend {
    color: rgb(140, 94, 60);
    font-size: 1rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #888;
    padding: .5rem;
    width: 300px;
    border-radius: 2px;
    font-family: "Poppins", serif;
    font-family: "Nunito", serif;
    font-weight: 300;
}

.myForm textarea {
    height: 5rem;
}

.myForm :required {
    background-color: rgba(94, 120, 135, 0.2);
}

.myForm [type=submit] {
    background-color: #3e4044;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    color: white;
    margin: 1rem 0 0 1vw;
}

table.our-services {
    width: 100%;
    border-collapse: collapse;
}

table.our-services th {
    background-color: #5e7887;
    color: white;
    padding: .5rem 2vw;
    font-size: 1.2rem;
    text-align: left;
}

table.our-services td {
    color: #333;
    padding: .3rem 2vw;
}

table.our-services tr:nth-child(odd) {
    background-color: rgba(94, 120, 135, .2);
}

table.our-services tr:hover {
    background-color: rgba(198, 166, 123, .5);
}








/* Footer changes go here */
footer {
    background-color: #fafbff;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #3e4044;
}

footer p {
    margin: 0;
    letter-spacing: 2px;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}