body {
    font-family: "Poppins", serif;
    font-family: "Nunito", serif;
    font-weight: 300;
    margin: 0;
}

/* All edits to header will start here*/
header {
    background-color: #f2f3f7;
    padding: 1.5rem 10px;
}

header span {
    color: #3e4044;
    font-family: "Poppins", serif;
    font-size: 2rem;
    font-weight: 600;
}

/* Edits to navigation here */

nav {
    background-color: #e3caab;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}

nav a {
    display: block;
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 1.3rem;
    color: #3e4044;
    font-weight: 500;
}

nav li.active a {
    background-color: #f2f3f7;
    padding: 1rem;
}

nav li a:hover {
    color: white;
}

/* Enter all the main stuff here*/
main {
    padding: 1rem 10px;
}

main h1 {
    color: #5e7887;
    font-family: "Poppins", serif;
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: .2rem;
}

main h2 {
    color: #3e4044;
    font-family: "Nunito", serif;
    font-weight: 500;
    margin-bottom: .2rem;
}

main h3 {
    margin-bottom: .2rem;
    margin-top: .7rem;
    color: #8C5E3C;
    font-family: "Nunito", serif;
    font-weight: 500;
}

main p {
    margin-top: 0;
    margin-bottom: .8rem;
    color: #333;
    font-family: "Nunito", serif;
    font-size: 1.1rem;
}

main ol {
    padding: .5rem 30px;
    margin: 0;
}

main dl dt {
    color: #5e7887;
    font-family: "Nunito", serif;
    font-size: 1.2rem;
    margin-top: 1rem;
}

main dl dd {
    font-size: 1rem;
    margin-left: 15px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 115%;
    margin-bottom: .3rem;
}

main strong {
    font-weight: 800;
    color: black;
}

main em {
    font-weight: 300;
}

main address {
    font-style: normal;
    background-color: #fafbff;
    text-align: left;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #3e4044;
    width: 180px;
}

main a {
    color: #5e7887;
}

main a:hover {
    color: rgb(140, 94, 60);
}

p {
    margin-top: 0;
    margin-bottom: .5rem;
}


figure.home {
    width: 50%;
    margin: 0 0 0 .5rem;
    float: right;
}

figure.home img {
    width: 100%;
    height: auto;
}

figure.home figcaption {
    text-align: center;
    font-size: 1rem;
}

div.mediagallery {
    display: flex;
    flex-wrap: wrap;
}

div.mediagallery figure {
    margin: 0 2% 2% 0;
}

div.mediagallery figcaption {
    text-align: center;
    font-size: 1rem;
    color: #3e4044;
}

.myForm fieldset {
    border: 1px solid #3e4044;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}

.myForm legend {
    color: rgb(140, 94, 60);
    font-size: 1rem;
}

.myForm label {
    margin: .5rem;
}

.myForm label,
.myForm select,
.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm textarea {
    display: block;
}

.myForm [type=text],
.myForm [type=tel],
.myForm [type=email],
.myForm select,
.myForm textarea {
    border: solid 1px #888;
    padding: .5rem;
    width: 300px;
    border-radius: 2px;
    font-family: "Poppins", serif;
    font-family: "Nunito", serif;
    font-weight: 300;
}

.myForm textarea {
    height: 5rem;
}

.myForm :required {
    background-color: rgba(94, 120, 135, 0.2);
}

.myForm [type=submit] {
    background-color: #3e4044;
    border: none;
    padding: 1rem 2rem;
    border-radius: 15px;
    color: white;
    margin: 1rem 0 0 1vw;
}












/* Footer changes go here */
footer {
    background-color: #fafbff;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    color: #3e4044;
}

footer p {
    margin: 0;
    letter-spacing: 2px;
}